.active-btn{
    margin: 50px 0px 0px 40px;
    width: 80%;
    height: 40px;
    background: #3b82f6;
    border: none;
    border-radius: 8px 8px 8px 8px;
}
.active-btn:hover{
    background-color: #10b981;
}