.header h1{
    color: #FFFFFF;
    margin-top: 10px;
}
.header{
    height: 80px;
    background-color: #1c2b35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px; 
    padding-right: 140px;
}

.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: orange;
}
.header-right-site{
    display: flex;
}
.header-right-site img{
    width: 50px;
    height: 40px;
}
.header img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

@media only screen and (max-width: 640px) {
    .header{
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav-right{
        display: none;
    }
  }